1=Discover New Star System
2=Discover Alien Ruins
3=Survive Ship Destruction
4=Destroy Hostile Ship
5=Destroy 100,000 tons of Commercial Shipping
6=Destroy 250,000 tons of Commercial Shipping
7=Destroy 1,000,000 tons of Commercial Shipping
8=Destroy 10 Hostile Missiles
9=Destroy 10,000 tons of Military Shipping
10=Destroy 25,000 tons of Military Shipping
11=Destroy 100,000 tons of Military Shipping
12=Destroy 100 Hostile Missiles
13=Suffer Armour Damage
14=Suffer Internal Damage
15=Destroy Hostile Ground Unit
16=Destroy 1000 tons of Hostile Ground Forces
17=Destroy 10,000 tons of Hostile Ground Forces
18=Discover 100 System Bodies With Minerals
19=Discover 1000 System Bodies With Minerals
20=Discover 10 Jump Points
21=Discover 100 Jump Points
22=Discover 10 New Star Systems
23=Destroy 1000 Hostile Missiles
24=Generate 10,000 Research Points
25=Generate 100,000 Research Points
26=Completed Research Project
27=Completed Five Research Projects
28=Ten Years of Service
29=Twenty Years of Service
30=Thirty Years of Service
31=Capture Hostile Ship in Boarding Combat
32=Habitable World Discovered
33=Three Habitable Worlds Discovered
34=Participate in Combat Drop - Formation
35=Participate in Five Combat Drops - Formation
36=Participate in Combat Drop - Transport
37=Participate in Five Combat Drops - Transport
38=Recover 10 Abandoned Installations
39=Recover 100 Abandoned Installations
40=Destroy 50,000 tons of Military Shipping
41=Destroy 250,000 tons of Military Shipping
42=Destroy 500,000 tons of Commercial Shipping
43=Destroy 2,500,000 tons of Commercial Shipping
44=Destroy 2500 tons of Hostile Ground Forces
45=Destroy 5000 tons of Hostile Ground Forces
46=Destroy 25000 tons of Hostile Ground Forces
47=Stabilise 1 Jump Point or Lagrange Point
48=Stabilise 3 Jump Points or Lagrange Points
49=Stabilise 10 Jump Points or Lagrange Points
50=Salvage 25,000 tons (Commercial / 10)
51=Salvage 100,000 tons (Commercial / 10)
52=Salvage 250,000 tons (Commercial / 10)